asgiref==3.8.1
beautifulsoup4
Brotli==1.1.0
certifi==2024.6.2
charset-normalizer==3.3.2
Django
dnspython==2.6.1
idna==3.7
mutagen==1.47.0
psycopg2-binary
pycryptodomex==3.20.0
pytz==2024.1
requests
soupsieve==2.5
sqlparse==0.2.4
tzdata==2024.1
urllib3==2.2.2
websockets==12.0
whitenoise
yt-dlp 
gunicorn
pillow
